body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  .form input[type='file'] {
    margin-bottom: 10px;
  }

  .form input[type='submit'] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form input[type='submit']:hover {
    background-color: #0062cc;
  }

  .success-message {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 20px;
    margin-bottom: 20px;
  }

  .download-link {
    display: block;
    margin-bottom: 10px;
  }

  .download-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  .download-button:hover {
    background-color: #0062cc;
  }
  .file-box {
    border: 1px solid #ceb5b5;
    height: 200px;
    margin-top: 20px;
    overflow: auto;
  }

  .file-list {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
  }

  .file-list li {
    margin-bottom: 10px;
  }

  .file-list li a {
    display: block;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
  }

  .file-list li a:hover {
    background-color: #e0e0e0;
  }

  .update-icon,
  .delete-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .file-icons {
    display: flex;
    gap: 15px;
  }
  .icon-div {
    display: flex;
    gap: 15px;
    color: #0062cc;
  }